doctype HTML
html
	head
		meta(charset="utf-8")
		title 测试计划集
		style.
			body{
				font-family: Helvetica Neue, Hiragino Sans GB, Microsoft Yahei, WenQuanYi Micro Hei, sans-serif;
			}
	body
		ul
			each plan in plans
				li= plan.content
