body{
	margin: 0;
	padding: 0;
	font-family: Helvetica Neue, Hiragino Sans GB, Microsoft Yahei, WenQuanYi Micro Hei, sans-serif;
}

.header {
	top: 0;position: fixed;left: 0;right: 0;border:none;border-bottom:1px solid rgba(0,0,0,.4);z-index:9;
}

.main {
	padding:30px;
	margin:43px 0 49px 0;
	border-top: 1px solid white;
}

.footer {
	position: fixed;left: 0;border:none;border-top:1px solid rgba(0,0,0,.4);width: 100%;height:100px;
	-webkit-transition:0.5s ease all;
}

#desc {
	position: absolute;
	right: 0;
	top: 0;
	width: 80%;
	box-shadow: 0 0 8px rgba(0,0,0,.4);
	border-radius: 10px;
	display: none;
	z-index: 10;
}

iframe {
	border:none;
}

#descTable {
	font-size: 14px;
	width: 100%;
	text-shadow: none;
}

.desc-title {
	text-align: center;
}
.body-base {
	color: #333;
	margin: 0;
	width: 100%;
	padding: 8px;
}

.header-base {
	position: relative;
	color: white;
	margin: 0;
	font-weight: bold;
	line-height: 24px;
	padding: 8px;
}

.pass-header {
	background: rgb(183,217,103);
}
.pass-body {
	background: rgba(183,217,103, 0.6);
}

.fail-header {
	background: rgb(243,130,131);
}
.fail-body {
	background: rgba(243,130,131, 0.6);
}

.step-header {
	background: rgb(254,209,116);
}
.step-body {
	background: rgba(254,209,116, 0.6);
}

/* report */
.fail{
	/*background-color: red;*/
	color: red;
}
.pass {
	/*background-color: green;*/
	color: green;
}
.block {
	color: #fed174;
}
.rep-header {
	background-color: #a7b3c2 !important;
	color: white;
}
.retest{
	color: #666;
	cursor: pointer;
}

#testReport {
	font-family: Helvetica Neue, Hiragino Sans GB, Microsoft Yahei, WenQuanYi Micro Hei, sans-serif;
	font-size: 12px;
}
#testReport table{
	border: 1px solid #ddd;
}
#testReport td {
	padding:6px;
}
#testReport input {
	width: 90%;
	border: 1px solid #eee;
	padding: 4px;
}
#testReport tr:nth-child(2n){
	background-color: #f2f1e7;
}
#testReport tr:nth-child(2n+1){
	background-color: white;
}

#noteTextarea {
	background: #f2f1e7;
	border: none;
	color: #666;
}

.ui-mobile .ui-page-active{
	overflow-x: visible;
}

body.ui-mobile-viewport {
	overflow-x: visible;
}

/*custom select*/
.select-level{
	position: relative;
	height: 32px;
	width: 48px;
	border:1px solid #8ab24f;
	border-radius: 4px;
}
.select-level .num-wrap{
	position: relative;
	width: 16px;
	padding: 0 8px;
	font-size: 24px;
	height: 32px;
	color: white;
	background-color: rgba(158, 204, 100, .4);
}
.select-level .icon-wrap{
	width:16px;
	height: 32px;
	position: absolute;
	top: 0;
	right: 0;
	background-color: #8ab24f;
	/*border-radius: 0 4px 4px 0;*/
}
.select-level .up-icon{
	background: url('./themes/images/icons-png/carat-u-white.png') no-repeat;
	background-size: 10px 10px;
	background-position: 3px 3px;
	position: absolute;
	width: 16px;
	height: 16px;
	top: 0;
	right: 0;
	cursor: pointer;
}

.select-level .down-icon{
	background: url('./themes/images/icons-png/carat-d-white.png') no-repeat;
	background-size: 10px 10px;
	background-position: 3px 3px;
	position: absolute;
	width: 16px;
	height: 16px;
	bottom: 0;
	right: 0;
	cursor: pointer;
}

/*account*/
#createArea{
	height: 52px;
	border: 1px solid #ccc;
	margin-bottom: 30px;
	position: relative;
}
#createArea .nameInp{
	height: 32px;
	padding: 10px;
	line-height: 32px;
	font-size: 24px;
	color: #999;
	background: white;
}
#createArea .select-level{
	position: absolute;
	right: 90px;
	top: 10px;
}
#createArea .createHandler{
	position: absolute;
	right: 0;
	top:0;
	width: 60px;
	height: 32px;
	padding: 10px;
	background: #9ecc5a;
	line-height: 32px;
	text-align: center;
	cursor: pointer;
	color: white;
}
#createdArea{
	background: white;
	border:1px solid #ccc;
}
#createdArea .select-level{
	margin: auto;
}
#createdArea .ui-select{
	display: none;
}

#createdArea tr{height: 40px;}

#createdArea .levelDiv{
	background: white;
	width: 16px;
	height: 16px;
	padding: 6px;
	line-height: 16px;
	border-radius: 16px;
	background: #8ab24f;
	color: white;
	cursor: pointer;
}

.test-item {
	display: block;
	position: relative;
	padding: 10px 20px;
	background: white;
	color: #666;
	/* border-left: 6px solid #a3e6f8; */
	border: none;
	cursor: pointer;
	margin-bottom: 20px;
}

.test-item .process{
	position: absolute;
	bottom: 0;
	height: 2px;
	left: 0;
}

.index-a {
	display: block;
	padding: 10px 20px;
	color: white !important;
	text-align: center;
	margin-bottom: 20px;
}

.account-a {
	background: #f38283;
}

.plan-a {
	background: #c7b3ef;
}

.test-a {
	background: #a3e6f8;
}

.delete-handler {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 48px;
	height: 48px;
	background: url('./themes/images/icons-png/delete-white.png') no-repeat;
	background-size: 24px 24px;
	background-position: 12px 12px;
	background-color: #a3e6f8;
}