body{
	margin: 0;
	padding: 0;
	font-family: Helvetica Neue, Hiragino Sans GB, Microsoft Yahei, WenQuanYi Micro Hei, sans-serif;
}

.header {
	top: 0;position: fixed;left: 0;right: 0;border:none;border-bottom:1px solid rgba(0,0,0,.4);z-index:9;
}

.main {
	padding:30px;
	margin:43px 0 49px 0;
	border-top: 1px solid white;
	overflow: scroll;
}

.footer {
	bottom: 0;position: fixed;left: 0;right: 0;border:none;border-top:1px solid rgba(0,0,0,.4);
}

#desc {
	position: absolute;
	right: 0;
	top: 0;
	width: 80%;
	box-shadow: 0 0 8px rgba(0,0,0,.4);
	border-radius: 10px;
	display: none;
	z-index: 10;
}

iframe {
	border:none;
}

#descTable {
	font-size: 14px;
	width: 100%;
	text-shadow: none;
}

.desc-title {
	text-align: center;
}
.body-base {
	color: #333;
	margin: 0;
	width: 100%;
	padding: 8px;
}

.header-base {
	position: relative;
	color: white;
	margin: 0;
	font-weight: bold;
	line-height: 24px;
	padding: 8px;
}

.pass-header {
	background: rgb(183,217,103);
}
.pass-body {
	background: rgba(183,217,103, 0.6);
}

.fail-header {
	background: rgb(243,130,131);
}
.fail-body {
	background: rgba(243,130,131, 0.6);
}

.step-header {
	background: rgb(254,209,116);
}
.step-body {
	background: rgba(254,209,116, 0.6);
}

/* report */
.fail{
	/*background-color: red;*/
	color: red;
}
.pass {
	/*background-color: green;*/
	color: green;
}
.rep-header {
	background-color: #a7b3c2 !important;
	color: white;
}
.retest{
	color: #666;
	cursor: pointer;
}

#testReport {
	font-family: Helvetica Neue, Hiragino Sans GB, Microsoft Yahei, WenQuanYi Micro Hei, sans-serif;
}
#testReport table{
	border: 1px solid #ddd;
}
#testReport td {
	padding:6px;
}
#testReport input {
	width: 90%;
	border: 1px solid #eee;
	padding: 4px;
}
#testReport tr:nth-child(2n){
	background-color: #f2f1e7;
}
#testReport tr:nth-child(2n+1){
	background-color: white;
}

#noteTextarea {
	background: #f2f1e7;
	border: none;
	color: #666;
}